# Virtual environment
.venv/

# Python bytecode
*.pyc
__pycache__/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/


.streamlit/secrets.toml
